<!DOCTYPE html>
<html>
<%- include ./partials/head %>
<body>
	<div id="signin">
		<button id="sign">Sign In</button>
	</div>
	<input type="text" id="tx">
	<button id="hbt">New Habit</button>
	<div id="habits"></div>
</body>
<%- include ./partials/footer %>
</html>