<!DOCTYPE html>
<html>
<%- include ./partials/head %>
<body>
	<input type="text" id="tx">
	<button id="hbt">New Habit</button>
	<div id="habits"></div>
	<script type="text/javascript" src="../public/js/main.js"></script>
</body>
<%- include ./partials/footer %>
</html>